{%extends 'index.html'%} {%load static %} {%block content%}
<div id="home" class="d-flex justify-content-center align-items-center">
  <div class="container my-5 mx-auto shadow" id="section_detail">
    <div class="d-flex justify-content-center align-items-center parent-image">
      <div class="oval-image">
        <img src="{{ project.img.0.getImgURL }}" alt="" width="100%" />
      </div>
    </div>

    <div>
      <div class="text-center detail-info">
        <h2>{{project.title}}</h2>

        <div class="d-flex justify-content-center align-items-center">
          <h4>Details :</h4>
          <span>{{project.details}}</span>
        </div>

        <div class="d-flex justify-content-center align-items-center">
          <h4>Total Target :</h4>
          <span>{{project.totalTarget}}</span>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <h4>Start Date :</h4>
          <span>{{project.startTime}}</span>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <h4>End Date :</h4>
          <span>{{project.endTime}}</span>
        </div>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <h4>Category :</h4>
          <p>{{project.category_id}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
