{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
  </head>
  <body>
    <div id="home" class="d-flex justify-content-center align-items-center">
      <div class="container my-5 mx-auto shadow" id="section_detail">
        <div
          class="d-flex justify-content-center align-items-center parent-image"
        >
          <div class="oval-image">
            <img src="{% static 'images/python.jpeg'%}" alt="" width="100%" />
          </div>
        </div>

        <div>
          <div class="text-center detail-info">
            <h2>Ribera Family</h2>

            <div class="d-flex justify-content-center align-items-center">
              <h4>Total Target :</h4>
              <span>1500$</span>
            </div>

            <div class="d-flex justify-content-center align-items-center">
              <h4>Total Target :</h4>
              <span>1500$</span>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <h4>Start Date :</h4>
              <span>Nov 1 ,2021</span>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <h4>End Date :</h4>
              <span>Nov 1 ,2022</span>
            </div>
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <h4>Description :</h4>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Facilis nihil, quia aperiam et accusantium veritatis!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
