{%extends 'index.html'%} {%load static %} {% block style %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/addProject.css' %}" />
{%endblock%} {%block content%}
<div
  id="add"
  class="d-flex justify-content-center align-items-center bg-denger parent"
>
  <div class="container parent mx-auto">
    <form action="{% url 'project.update' project.id%}" method="post">
      {%csrf_token%}
      <h1>Update Project</h1>

      <div style="width: 150px">
        <img src="{{project.getImgURL}}" alt="project" style="width: 100%" />
      </div>

      <input
        type="text"
        name="title"
        required
        placeholder="Project Title"
        value="{{project.title}}"
      />
      <input
        type="text"
        name="projectDetail"
        required
        placeholder="Project Detail"
        value="{{project.details}}"
      />

      <div>
        <select name="category" id="category">
          <option value="" disabled selected hidden>Project Category</option>
          <option value="js">js</option>
          <option value="python">python</option>
          <option value="c++">c++</option>
        </select>
      </div>

      <div class="row gy-3">
        <div class="col-md-6">
          <input
            type="number"
            name="target"
            required
            placeholder="Total Target"
            value="{{project.totalTarget}}"
          />
        </div>

        <div class="col-md-6">
          <div>
            <input
              type="text"
              name="tag"
              required
              placeholder="Tags"
              value="{{project.tag}}"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div>
            <label for="sCampaign">
              <span> Start Campaign </span>
            </label>
            <input
              type="date"
              id="sCampaign"
              name="sdate"
              required
              placeholder="Start Date"
              value="{{project.startTime}}"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div>
            <label for="eCampaign">
              <span> End Campaign </span>
            </label>
            <input
              type="date"
              id="eCampaign"
              name="edate"
              required
              placeholder="End Date"
              value="{{project.endTime}}"
            />
          </div>
        </div>
      </div>

      <input type="file" name="image" required placeholder="Choose Image" />

      <div class="d-flex justify-content-center align-items-center">
        <button type="submit">Update Project</button>
      </div>
    </form>
  </div>
</div>

{%endblock%}
