{% extends "index.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <div class="media">
    <img
      class="rounded-circle account-img"
      src="{{ user.profile.image.url }}"
    />
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- username:
    <div class="bg-danger">{{ u_form.username }}</div>
    firstname:
    <div class="bg-danger">{{ u_form.first_name }}</div>
    lastname:
    <div class="bg-danger">{{ u_form.last_name }}</div>
    mobile:
    <div class="bg-danger">{{ p_form.mobile }}</div> -->

    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Profile Info</legend>
      {{ u_form }} {{ p_form }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
  </form>

  <form action="{% url 'DeleteAccount' user_id=user.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Yes</button>
  </form>
  <a href="{% url 'project.all' %}">No, cancel</a>
</div>
{% endblock content %}
