
{% extends 'index.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/StyleAddUser.css' %}" />
{% endblock %} {% block content %}

{%extends 'index.html'%} {%load static %} 
{%block style %}
<link rel="stylesheet" href="{% static 'css/UserAdd.css' %}" />
{% endblock %}
{%block content%} 

<div
  id="add"
  class="d-flex justify-content-center align-items-center bg-dark parent"
>
  <div class="container parent mx-auto border rounded-3">
    <form method="post" class="style_form " enctype="multipart/form-data">
      {% csrf_token %}
      <h2 class="text-center" style="font-weight: 700">User Registration</h2>
      <form>
        {% comment %} <div class="form-group ">
          <label for="exampleInputEmail1" style="font-size: 1.3rem;">First Name</label>
          <input
            type="email"
            class="form-control"
            id="id_first_name"
            aria-describedby="emailHelp"
            placeholder="First Name"
          />
        </div> {% endcomment %}
        
        {% csrf_token %} 
        <div class="form-group ">
          <label for="exampleInputEmail1" style="font-size: 1.3rem;">Email ddress</label>
           <small id="emailHelp" class="form-text text-muted" >We'll never share your email with anyone else.</small>
          <input
            type="email"
            name="username"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
         
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1" style="font-size: 1.3rem;">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-primary bg-primary m-auto">Sign in</button>
      </form>
      {% endblock %}
    </form>
  </div>
</div>
