{%extends 'index.html'%} {%load static %} {%block content%} {% block style %}
<link rel="stylesheet" href="{% static 'css/allUser.css' %}" />
{% endblock %}

<h1>All User</h1>
<div class="container my-5">
  <div class="row gy-5">
    <div class="col-lg-4 col-md-6">
      <div class="user">
        <div class="image-user">
          <img src="{% static 'images/user.jpg'%}" alt="user" />
        </div>
        <div class="info">
          <h3>Merna Bassem</h3>
          <div>
            <button>Update</button>
            <button style="margin-bottom: 15px">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="user">
        <div class="image-user">
          <img src="{% static 'images/user.jpg'%}" alt="user" />
        </div>
        <div class="info">
          <h3>Merna Bassem</h3>
          <div>
            <button>Update</button>
            <button style="margin-bottom: 15px">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="user">
        <div class="image-user">
          <img src="{% static 'images/user.jpg'%}" alt="user" />
        </div>
        <div class="info">
          <h3>Merna Bassem</h3>
          <div>
            <button>Update</button>
            <button style="margin-bottom: 15px">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="user">
        <div class="image-user">
          <img src="{% static 'images/user.jpg'%}" alt="user" />
        </div>
        <div class="info">
          <h3>Merna Bassem</h3>
          <div>
            <button>Update</button>
            <button style="margin-bottom: 15px">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="user">
        <div class="image-user">
          <img src="{% static 'images/user.jpg'%}" alt="user" />
        </div>
        <div class="info">
          <h3>Merna Bassem</h3>
          <div>
            <button>Update</button>
            <button style="margin-bottom: 15px">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="user">
        <div class="image-user">
          <img src="{% static 'images/user.jpg'%}" alt="user" />
        </div>
        <div class="info">
          <h3>Merna Bassem</h3>
          <div>
            <button>Update</button>
            <button style="margin-bottom: 15px">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="user">
        <div class="image-user">
          <img src="{% static 'images/user.jpg'%}" alt="user" />
        </div>
        <div class="info">
          <h3>Merna Bassem</h3>
          <div>
            <button>Update</button>
            <button style="margin-bottom: 15px">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="user">
        <div class="image-user">
          <img src="{% static 'images/user.jpg'%}" alt="user" />
        </div>
        <div class="info">
          <h3>Merna Bassem</h3>
          <div>
            <button>Update</button>
            <button style="margin-bottom: 15px">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
