.hello{
    color: red;
    margin: 15px auto !important;
    text-align:center;
    font-size: 50px;
    font-weight:bold ;
}


.card{
    
    width: 50%;
}

.inputFeald{

    margin: 17px 0px;
    padding: 8px 24px;
    width: 100% !important;
}

.inputFeald:hover , .inputFeald:focus {
    border-color:hsl(0, 84%, 44%) !important ;
}



button{
    background-color:hsl(0, 84%, 44%);
    color: white;
    border: none;
    padding: 8px 12px;
    margin-block:15px !important;
    margin-inline: 5px;
    font-size:20px ;
    border-radius: 8px !important;
}

@media screen and (max-width : 1550px){
    .card{
      width:55%;
    }
  }
  @media screen and (max-width : 1160px){
    .card{
      width:60%;
    }
  }
  
  @media screen and (max-width : 750px) {
    .card{
      width:70%;
    }
  }
  
  @media screen and (max-width : 570px) {
    .card{
      width:85%;
    }
  }
  @media screen and (max-width : 425px) {
    .card{
      width:99%;
    }
  }